<div class="container mt-5">


  <div class="card shadow">


    <div class="card-body">


      <h2 class="text-primary">

        Sobre la aplicación

      </h2>


      <p>

        Esta aplicación web permite a los pacientes
        gestionar reservas de horas médicas.

      </p>


      <ul>

        <li>Ingreso seguro para pacientes.</li>

        <li>Reserva de atención médica.</li>

        <li>Validación de formularios.</li>

        <li>Guardado de información con LocalStorage.</li>

        <li>Interfaz desarrollada con Bootstrap.</li>

      </ul>


    </div>

  </div>


</div>